<h3>Критерии проверки</h3>

<form  id="checklist__form">
{{#each items}}
<details id="checklist__details__{{this.index}}">
    <summary>{{this.title}}</summary>
    <div class="checklist-options" id="checklist__options__{{this.index}}" data-index="{{this.index}}">

        <div >
            <input type="radio" name="checklist__{{this.index}}" data-index="{{this.index}}" value="5"><label>{{this.5|trim}}</label>
        </div>
        {{#if this.4}}
        <div >
            <input type="radio" name="checklist__{{this.index}}" data-index="{{this.index}}" value="4"><label>{{this.4|trim}}</label>
        </div>
        {{/if}}
        <div >
            <input type="radio" name="checklist__{{this.index}}" data-index="{{this.index}}" value="3"><label>{{this.3|trim}}</label>
        </div>

    </div>
</details>
{{/each}}
<div class="checklist__form__controls">
    <button type="button" id="checklist__form__generate">
        Сгенерировать обратную связь
    </button>
    <button type="button" id="checklist__form__improve">
        Улучшить мотивацию с помощью AI
    </button>

</div>
